<div class='slide {{if (eq @company.id @shownCompany) "active"}}'>
  <div class='white-pane'>
    <div class='hero'>
      <button
        type='button'
        onclick={{fn @showCompany @position}}
        class={{if (eq @company.id @shownCompany) 'large' 'small'}}
      >
        <div class='bg'>
          <img
            src='{{cdn}}/images/group/{{@company.heroImage}}'
            aria-hidden='true'
            alt=''
          />
        </div>

        <div class='logo'>
          <img
            src='{{cdn}}/images/logos/{{@company.heroLogo}}-logo-white.svg'
            alt={{@company.businessName}}
          />
        </div>
      </button>
    </div>

    <!-- <div class='hero'>
      <div class='logo'>
        <h3 aria-label={{@company.businessName}}>
          <img
            src='{{cdn}}/images/logos/{{@company.heroLogo}}-logo-white.svg'
            alt={{@company.businessName}}
          />
        </h3>
      </div>
      <img
        src='{{cdn}}/images/group/{{@company.heroImage}}'
        aria-hidden='true'
        alt=''
      />
    </div> -->

    <div class='content'>
      {{#if @company.description}}
        <h4 class='h3'>Core Activity</h4>
        <p>{{@company.description}}</p>
      {{/if}}

      {{#if @company.members}}
        <h4 class='h3'>Team</h4>
        <div class='members'>
          <ul>
            {{#each @company.members as |member|}}
              <li>
                <div class='avatar'>
                  {{#if member.hasAvatar}}
                    <img
                      src='{{env "cdnHost"}}{{member.avatarSrc}}'
                      alt={{member.fullName}}
                    />
                  {{else}}
                    <img
                      src='{{env "cdnHost"}}/images/public/no-avatar.svg'
                      aria-hidden='true'
                      width='27'
                      height='27'
                    />
                  {{/if}}
                </div>
                <p>{{member.fullName}}</p>
              </li>
            {{/each}}
          </ul>
        </div>

      {{/if}}
    </div>
  </div>
</div>