<li class='slide'>
  <div class='white-pane'>
    <div class='hero'>
      <div class='logo'>
        <h3>
          <img
            src='{{cdn}}/images/logos/{{@company.heroLogo}}-logo-white.svg'
            alt={{@company.businessName}}
          />
        </h3>
      </div>
      <img
        src='{{cdn}}/images/group/{{@company.heroImage}}'
        aria-hidden='true'
        alt=''
      />
    </div>

    <div class='content'>
      <h4 class='h3'>Core Activity</h4>
      <p>{{@company.description}}</p>
      {{#if @company.members}}
        <h4 class='h3'>Team</h4>
        <div class='members'>
          <ul>
            {{#each @company.members as |member|}}
              <li>
                <div class='avatar'>
                  {{#if member.hasAvatar}}
                    <img
                      src='{{env "cdnHost"}}{{member.avatarSrc}}'
                      alt={{member.fullName}}
                    />
                  {{else}}
                    <img
                      src='{{env "cdnHost"}}/images/public/no-avatar.svg'
                      aria-hidden='true'
                      width='27'
                      height='27'
                    />
                  {{/if}}
                </div>
                <p>{{member.fullName}}</p>
              </li>
            {{/each}}
          </ul>
        </div>

      {{/if}}
    </div>
  </div>
</li>