{{#let @company as |c|}}
  <div class='slide {{if @showSlide "active"}}'>
    <Pages::Homepage::Members::Hero
      @businessName={{c.businessName}}
      @logo={{c.heroLogo}}
      @hero={{c.heroImage}}
      @showSlide={{@showSlide}}
      @onHeroClick={{@onHeroClick}}
    />

    <div class='content {{if @showContent "show" "hide"}}'>
      <div class='space'></div>
      <div class='inner'>
        {{#if c.coreActivity}}
          <div class='block'>
            <h3>Core activity</h3>
            {{markdown c.coreActivity}}
          </div>
        {{/if}}

        {{#if c.companyMembers}}
          <div class='block'>
            <h3>Team members</h3>
            <ul class='people'>
              {{#each c.members as |member|}}
                {{#let member.person as |person|}}
                  <li>
                    <div class='avatar'>
                      {{#if person.avatarPath}}
                        <ResponsiveImage
                          @path={{person.avatarPath}}
                          @variations={{person.avatarVariations}}
                          @alt={{person.fullName}}
                        />
                      {{else}}
                        <img
                          src='{{env "cdnHost"}}/images/public/no-avatar.svg'
                          aria-hidden='true'
                          width='27'
                          height='27'
                        />
                      {{/if}}
                    </div>
                    <div class='text'>
                      <p>
                        <strong>{{person.firstName}}
                          {{person.lastName}}</strong>
                        <span> {{person.chineseName}}</span>
                      </p>
                      <p>{{member.title}}</p>
                    </div>
                  </li>
                {{/let}}
              {{/each}}
            </ul>
            {{#if (gt c.hiddenPeopleCount 0)}}
              <p>+ {{c.hiddenPeopleCount}} more valuable people</p>
            {{/if}}
          </div>
        {{/if}}

        {{#if c.showMarkets}}
          <div class='block'>
            <h3>Service area</h3>
            <ul class='countries'>
              {{#each c.markets as |country|}}
                <li>
                  <Flag @country={{country}} />
                  <p>{{country.nameEnglish}}</p>
                </li>
              {{/each}}
            </ul>
          </div>
        {{/if}}

        {{#if c.history}}
          <div class='block'>
            <h3 class='h3'>History</h3>
            {{markdown c.history}}
          </div>
        {{/if}}

        {{#if (or c.website c.emailGeneral c.phone c.address)}}
          <div class='block'>
            <h3 class='h3'>Contact us</h3>
            <p class='contacts'>
              <p class='p address'>
                {{#if c.legalName}}
                  <span>{{c.legalName}}</span>
                {{/if}}

                {{#if c.address}}
                  <span>{{c.address}}</span>
                {{/if}}

                {{#if c.country.nameEnglish}}
                  <span>{{c.country.nameEnglish}}</span>
                {{/if}}
              </p>

              {{#if c.website}}
                <Link
                  @url={{c.websiteForRobots}}
                  @label={{c.websiteForHumans}}
                />
              {{/if}}

              {{#if c.emailGeneral}}
                <Link
                  @url='mailto:{{c.emailGeneral}}'
                  @label={{c.emailGeneral}}
                />
              {{/if}}

              {{#if c.phone}}
                <Link
                  @url='tel:{{c.phoneForRobots}}'
                  @label={{c.phoneForHumans}}
                />
              {{/if}}
            </p>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
{{/let}}