{{#let @company as |c|}}
  <div class='slide {{if @showSlide "active"}}'>
    <div class='hero'>
      <button
        type='button'
        onclick={{@onHeroClick}}
        class={{if @showSlide 'large' 'small'}}
      >
        <div class='bg'>
          <img
            src='{{cdn}}/images/group/{{c.heroImage}}'
            aria-hidden='true'
            alt=''
          />
        </div>

        <div class='logo'>
          <img
            src='{{cdn}}/images/logos/{{c.heroLogo}}-logo-white.svg'
            alt={{c.businessName}}
          />
        </div>
      </button>
    </div>

    <div class='content {{if @showContent "show" "hide"}}'>
      <div class='space'></div>
      <div class='inner'>
        {{#if c.coreActivity}}
          <h3>Core activity</h3>
          {{markdown c.coreActivity}}
        {{/if}}

        {{#if c.companyMembers}}
          <h3>Team members</h3>
          <ul class='people'>
            {{#each c.companyMembers as |member|}}
              {{#let member.person as |person|}}
                <li>
                  <div class='avatar'>
                    {{#if person.hasAvatar}}
                      <img
                        src='{{env "cdnHost"}}{{person.avatarSrc}}'
                        alt={{person.fullName}}
                      />
                    {{else}}
                      <img
                        src='{{env "cdnHost"}}/images/public/no-avatar.svg'
                        aria-hidden='true'
                        width='27'
                        height='27'
                      />
                    {{/if}}
                  </div>
                  <div class='text'>
                    <p>
                      <strong>{{person.firstName}}
                        {{person.lastName}}</strong>
                      <span> {{person.chineseName}}</span>
                    </p>
                    <p>{{member.title}}</p>
                  </div>
                </li>
              {{/let}}
            {{/each}}
          </ul>
          <p>+ {{c.otherPeopleCount}} more valuable people</p>
        {{/if}}

        {{#if c.showMarkets}}
          <h3>Service area</h3>
          <ul class='countries'>
            {{#each c.markets as |country|}}
              <li>
                <Flag @country={{country}} />
                <p>{{country.nameEnglish}}</p>
              </li>
            {{/each}}
          </ul>
        {{/if}}

        {{#if c.history}}
          <h3>History</h3>
          {{markdown c.history}}
        {{/if}}

        <h3>Contact us</h3>
        <p class='contacts'>
          <p class='p address'>
            {{#if c.legalName}}
              <span>{{c.legalName}}</span>
            {{/if}}

            {{#if c.address}}
              <span>{{c.address}}</span>
            {{/if}}

            {{#if c.country.nameEnglish}}
              <span>{{c.country.nameEnglish}}</span>
            {{/if}}
          </p>

          {{#if c.website}}
            <Link @url={{c.websiteForRobots}} @label={{c.websiteForHumans}} />
          {{/if}}

          {{#if c.emailGeneral}}
            <Link @url='mailto:{{c.emailGeneral}}' @label={{c.emailGeneral}} />
          {{/if}}

          {{#if c.phone}}
            <Link @url='tel:{{c.phoneForRobots}}' @label={{c.phoneForHumans}} />
          {{/if}}
        </p>
      </div>
    </div>
  </div>
{{/let}}