<li class='slide'>
  <div class='white-pane'>
    <div class='hero'>
      <div class='logo'>
        <img
          src='{{cdn}}/images/logos/{{@logo}}-logo-white.svg'
          alt={{@logo-alt}}
        />
      </div>
      <img
        src='{{cdn}}/images/group/member-hero-{{@hero}}@1200x600.webp'
        alt={{@hero-alt}}
      />
    </div>

    <div class='content'>
      {{yield}}
    </div>
  </div>
</li>