<section id='members'>
  <h2 class='h3'>Members</h2>

  <nav id='dots' aria-label='member navigation'>
    {{#if this.companies}}
      {{#each this.companies as |company i|}}
        <button onclick={{fn this.showCompany i}} type='button'>
          <div class='dot'></div>
        </button>
      {{/each}}
    {{/if}}
  </nav>

  <nav id='arrows' aria-hidden='true'>
    <button type='button' onclick={{this.prevCompany}}>
      <Svg::ChevronLeft />
    </button>

    <button type='button' onclick={{this.nextCompany}}>
      <Svg::ChevronRight />
    </button>
  </nav>

  <div id='slides' style={{this.slidesStyle}} {{did-insert this.onInsert}}>
    <div id='stage' style={{this.stageStyle}}>
      {{#each this.companies as |company i|}}
        <Pages::Homepage::Members::Slide
          @company={{company}}
          @showSlide={{eq i this.shownSlide}}
          @showContent={{eq i this.shownContent}}
          @onHeroClick={{fn this.showCompany i}}
        />
      {{/each}}
    </div>
  </div>

  <img
    src='{{cdn}}/images/group/interflux-symbol-grey.svg'
    alt='Interflux symbol'
    width='100'
    height='70'
    class='footer'
  />
</section>