<section id='members'>
  <h2 class='h3'>Members</h2>
  <nav id='dots' aria-label='slides'>
    {{#if this.companies}}
      {{#each this.companies as |company position|}}
        <button onclick={{fn this.goTo position}} type='button'>
          <div class='dot'></div>
        </button>
      {{/each}}
    {{/if}}
  </nav>

  <nav id='buttons' aria-label='buttons'>
    <button onclick={{this.prevCompany}}>
      <Svg::ChevronLeft />
    </button>

    <button onclick={{this.nextCompany}}>
      <Svg::ChevronRight />
    </button>
  </nav>

  <div id='slides' {{did-insert this.onInsert}}>
    {{#if this.companies}}
      <ul>
        {{#each this.companies as |company|}}
          <Pages::Homepage::Members::Slide @company={{company}} />
        {{/each}}
      </ul>
    {{else}}
      <p>Loading</p>
    {{/if}}
  </div>

  <img
    src='{{cdn}}/images/group/interflux-symbol-grey.svg'
    alt='Interflux symbol'
    width='100'
    height='70'
    class='footer'
  />
</section>