<div class='slide {{if @showSlide "active"}}'>
  <Pages::Homepage::Members::Hero
    @businessName='Interflux Group'
    @logo='interflux-group'
    @hero='hero-group'
    @showSlide={{@showSlide}}
    @onHeroClick={{@onHeroClick}}
  />

  <div class='content show'>
    <div class='space'></div>
    <div class='inner'>
      <div class='block'>
        <h1 class='h2'>
          Chemistry, machines and know-how for electronics manufacturers
        </h1>
      </div>
      <Pages::Homepage::AboutUs />
      <Pages::Homepage::Activities />
      <Pages::Homepage::Locations @companies={{@companies}} />
      <Pages::Homepage::Managers @managers={{@managers}} />
    </div>
  </div>
</div>