<section id='locations'>
  <div id='mapbox' {{did-insert this.onInsert}}></div>

  {{! Markers are rendered here first, but soon after appended to Mapbox. }}
  <div id='markers'>
    {{#each @companies as |company|}}
      <div id='marker-for-{{company.slug}}' class='marker'>
        <Svg::Marker />
      </div>

      <div id='shadow-for-{{company.slug}}' class='shadow'>
        <Svg::MarkerShadow />
      </div>
    {{/each}}
  </div>

  <div class='text'>
    <h2>Coordinated by 14 companies across the world</h2>
    <Waypoint @onFirstView={{this.onFirstView}} />
    <p>Combined we serve customers in 54 countries.</p>
    <h2>Close to all the action</h2>
    <p>Our intent is to be present in all major hubs of the electronics industry
      so we can can localise our customer support and better understand local
      market trends.</p>
  </div>

  <img
    id='logo'
    src='{{cdn}}/images/logos/interflux-group-logo-white.svg'
    alt='Interflux Group'
    width='1000'
    height='253'
  />
</section>