<main id='home'>
  <LeftNav />

  <section id='hero' aria-labelledby='h1'>
    <div class='bg'>
      <div class='preload'></div>
      <div class='high-res'></div>
    </div>

    <img
      id='logo'
      src='{{cdn}}/images/logos/interflux-group-logo-white.svg'
      alt='Interflux Group'
      width='1000'
      height='253'
    />

    <div class='liner'>
      <h1>
        <span>Chemistry, machines and know-how </span>
        <span>for the electonics industry</span>
      </h1>
    </div>
  </section>

  <Section @id='about-us'>
    <div class='text'>
      <h2 class='h2'>About us</h2>
      <p>The Interflux Group is an international network of companies supplying
        the electronics manufacturing industry with equipment, soldering
        chemistry and know-how.</p>
    </div>

    <img
      src='{{cdn}}/images/group/about-us@1184x1114.jpg'
      width='592'
      height='557'
      alt='stencil printing, circuit board and selective soldering fountain'
    />
  </Section>

  <Section @id='what-we-do-1' @class='screen-high'>
    <div class='text'>
      <h3 class='h3'>What we do #1</h3>
      <h2 class='h2'>Soldering chemistry for electronics</h2>
      <p>The Interflux Group sells and supports the soldering materials produced
        by Interflux Electronics. Other materials in the portfolio are
        adhesives, cleaners, conformal coatings etc…</p>
    </div>

    <img
      src='{{cdn}}/images/group/chemistry@1016x684.jpg'
      width='508'
      height='342'
      alt='X-ray close up of a perfect wetting on the soldering joint of an electronics component'
    />
  </Section>

  <Section @id='activity-2' @class='screen-high'>
    <div class='text'>
      <h3 class='h3'>What we do #2</h3>
      <h2 class='h2'>Equipment for electronics manufacturing</h2>
      <p>Selective and wave soldering machines, reflow ovens, AOI, SPI, X-ray,
        cleaning machines, manual soldering equipment,… are just a selection out
        of the high end portfolio of the Interflux Group. Interflux Singapore
        develops and manufactures jet and spray fluxing systems.</p>
    </div>

    <img
      src='{{cdn}}/images/group/machine@1291x990.jpg'
      width='645'
      height='495'
      alt='Ersa preheating oven'
    />
  </Section>

  <Section @id='activity-3' @class='screen-high'>
    <div class='text'>
      <h3 class='h3'>What we do #3</h3>
      <h2 class='h2'>Know-how</h2>
      <p>+42 years of international technical and process experience is shared
        with our customers by means of free webinars, on site trainings and
        start-ups. Good process knowledge is essential to produce a high quality
        end product.</p>
    </div>

    <img
      src='{{cdn}}/images/group/know-how@1086x943.jpg'
      width='543'
      height='471'
      alt='two people in a laboratory pointing at a screen'
    />
  </Section>

  <Pages::Homepage::Locations />
  <Pages::Homepage::Managers />
  <Pages::Homepage::Members />
</main>