<main id='home'>
  {{#if (or (media 'isMobile') (media 'isTablet'))}}
    <Pages::Homepage::Members @companies={{@companies}} />
  {{/if}}

  {{#if (or (media 'isDesktop') (media 'isWidescreen'))}}
    <Pages::Homepage::Hero />
    <Pages::Homepage::AboutUs />
    {{#if @loading}}
      <Pages::Homepage::Loading />
    {{else}}
      <Pages::Homepage::Activities />
      <Pages::Homepage::Locations @companies={{@companies}} />
      <Pages::Homepage::Managers @companies={{@companies}} />
      <Pages::Homepage::Members @companies={{@companies}} />
    {{/if}}
  {{/if}}
</main>