<header>
  <ul>
    <li>
      <a href='#about-us'>About us</a>
    </li>

    <li>
      <a href='#what-we-do-1'>What we do</a>
    </li>

    <li>
      <a href='#locations'>Locations</a>
    </li>

    <li>
      <a href='#members'>Members</a>
    </li>
  </ul>
</header>

<main>
  <section id='hero' class='screen-high'>
    <div class='liner'>
      <img
        id='logo'
        src='{{cdn}}/images/logos/Interflux-Group-logo-white-with-shadow.svg'
        alt='Interflux Group logo'
      />
      <h1>Chemistry, machines and know-how for the electonics industry</h1>
    </div>
  </section>

  <section id='about-us' class='screen-high'>
    <div class='liner'>
      <h2>About us</h2>
      <p>The Interflux Group is an international network of companies supplying
        the electronics manufacturing industry with equipment, soldering
        chemistry and know-how.</p>
      <img
        src='{{cdn}}/images/group/about-us@1184x1114.jpg'
        width='592'
        height='557'
        alt=''
      />
    </div>
  </section>

  <section id='what-we-do-1' class='screen-high'>
    <div class='liner'>
      <h2>Chemistry</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
        minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
        sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.</p>

      <img
        src='{{cdn}}/images/group/chemistry@1016x684.jpg'
        width='508'
        height='342'
        alt=''
      />
    </div>
  </section>

  <section id='activity-2' class='screen-high'>
    <div class='liner'>
      <h2>Machines</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
        minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
        sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.</p>
      <img
        src='{{cdn}}/images/group/machine@1291x990.jpg'
        width='645'
        height='495'
        alt=''
      />
    </div>
  </section>

  <section id='activity-3' class='screen-high'>
    <div class='liner'>
      <h2>Know-how</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
        minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
        sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.</p>
      <img
        src='{{cdn}}/images/group/know-how@1086x943.jpg'
        width='543'
        height='471'
        alt=''
      />
    </div>
  </section>

  <section id='locations' class='screen-high'>
    <div class='liner'>
      <h2>Coordinated by 14 companies across the world</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <h2>Servicing 89+ countries</h2>
      <p>Active in 15. Duis aute irure dolor in reprehenderit in voluptate velit
        esse cillum dolore.</p>
    </div>
  </section>

  <section id='managed-by'>
    <div class='liner'>
      <h2>Managed by</h2>
      <ul>
        <li>
          <h3>Daniel Werkhoven</h3>
          <p>Founder, Director & CEO</p>
        </li>
        <li>
          <h3>Steven Teliszewski</h3>
          <p>Chief Operating Officer</p>
        </li>
        <li>
          <h3>Annick Peeters</h3>
          <p>Chief Operating Officer</p>
        </li>
      </ul>
    </div>
  </section>

  <section id='members'>
    <div class='liner'>
      <h2>Members</h2>
      <ul>
        <li>
          <h3>Interflux Electronics</h3>
        </li>

        <li>
          <h3>Interflux China</h3>
        </li>

        <li>
          <h3>Interflux Singapore</h3>
        </li>

        <li>
          <h3>Interflux Sweden</h3>
        </li>

        <li>
          <h3>Interflux Norway</h3>
        </li>

        <li>
          <h3>Interflux Denmark</h3>
        </li>

        <li>
          <h3>Interflux Estonia</h3>
        </li>

        <li>
          <h3>Interflux France</h3>
        </li>

        <li>
          <h3>Interflux Poland</h3>
        </li>

        <li>
          <h3>Interflux Australia</h3>
        </li>

        <li>
          <h3>Interflux Mexico</h3>
        </li>
      </ul>
    </div>
  </section>
</main>

<footer>
  <img
    src='{{env "cdnHost"}}/images/logos/Interflux-symbol-grey.svg'
    alt='Interflux logo grey'
  />
</footer>